{{ define "main" }}
<section id="body-main">
   <div class="container">
      <div class="col-lg-9 col-md-9 col-sm-7 col-xs-12 col-ms-12">
         <div class="news-items row">
         	{{ range .Data.Pages }}
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-ms-12 margintop30">
               <div class="row">
                  <div class="each-news col-lg-5 col-md-5 col-sm-12 col-xs-12 col-ms-12">
                     <div class="news-item-l hover-effect-1">
                        <a class="img-thumb" href="{{ .URL }}">
                        <img src="{{ .Site.BaseURL }}{{ .Params.image }}">
                        </a>
                     </div>
                  </div>
                  <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 col-ms-12">
                     <a class="img-thumb" href="/dich-vu/van-tai-hanh-khach-21.html">
                        <h3 class="text-uppercase text-primary">{{ .Title }}</h3>
                     </a>
                     <p class="text-justify">{{ .Description }}</p>
                     <p class="clearfix">
                        <a class="pull-right" href="{{ .URL }}">Xem tiếp... <i class="fa fa-angle-double-right"></i> </a>
                     </p>
                  </div>
               </div>
            </div>
            {{ end }}

         </div>
         <div class="clearfix"></div>
         <div class="clearfix"></div>
      </div>
      {{ partial "search_ticket" . }}
   </div>
</section>
{{ partial "section_branch_offices" . }}

{{end}}