{{ with .Site.GetPage "page" "gioi-thieu/gioi-thieu-hai-au.md" }}

<section class="ph3 ph6-l pt4 bg-vxr-gray pb4 pb5-ns">
	<div class="dt flex flex-wrap-reverse">
		<div class="dtc v-top w-100 w-50-l color pr5-l pr2-l">
			<p class="f4 f3-l vxr-blue v-top ma0 dn dib-l">{{ .Title }}</p>
			<p class="f7 vxr-blue"><i class="fas fa-home mr2"></i>Số 16 Tôn Đức Thắng, Hải Phòng</p>
			<p class="f7 lh-copy tj">
				{{ .Description }}
			</p>
		</div>
		<div class="dtc v-top w-100 w-50-l center">
			<img src="{{ .Params.image }}" alt="Xe Hải Âu" class="w-100 db" />
		</div>
		<h1 class="f4 f3-l blue v-top ma0 dib dn-l mb2">Giới thiệu nhà xe Hải Âu</h1>
	</div>

</section>

{{ end }}
