nav > ul, nav > ul > li > a {
  height: 66px;
}

html, body {height:100%;overflow:auto}

header {
  height: 66px;
}

main {
    padding-top: 66px;
}

.owl-carousel {
  margin-top: -66px;
}

.owl-item > div {
  padding-top: 66px;
}

.owl-controls {
  display: none;
}

.main-background {
	background-image: url(/img/banner-haiau.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: -4px;
}

nav li:hover>.sub-menu {
  display:block;
}

.top-25 {
  top: 25%;
}

.top-10 {
  top: 10%;
}

table.table-slim-border, table.table-slim-border th,
table.table-slim-border tr, table.table-slim-border td {
  border-collapse: collapse;
  border: 1px solid rgb(236, 236, 236);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

table.table-padding-cell td, table.table-padding-cell th {
  padding-top: 1em !important;
  padding-bottom: 1em !important;
}

@media screen and (min-width: 64em) {

  .w6-l {
    width: 20rem;
  }

  .h4-5-l {
    height: 12rem;
  }

}

.h4-5 {
  height: 12rem
}

.w6 {
  width: 32rem;
}

.color {
	color: #333333;
}

.vxr-blue {
  color: #0088CF;
}

.bg-color {
  background-color: #0071b7;
}

.bg-color-2 {
  background-color: #f2f6ff;
}

.bg-cta {
  background-color: #fcdb00;
}

.color-cta {
  color: #f0c11d;
}

.h1-color {
  color: #00000;
}

.h2-color {
  color: #00000;
}

.h3-color {
  color: #00000;
}

.desc-color {
  color: #0171b9;
}

.minor-desc-color {
  color: #6d54548c;
}


.bg-vxr-gray {
  background-color:#EAEBF0;
}
/* old gray #F0F5F7*/
.vxr-gray {
  color: #B3B3B3;
}

.haiau-gray {
  color: #555;
}

.btn-bg-color {
  background-color: #E03B28;
}

.popupCloseBtn:before, .popupCloseBtn:after {
  content: '';
  position: absolute;
  background: #2C3E50;
  border-radius: 1px;
  left: 14px;
  right: 14px;
  top: 24px;
  height: 3px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: background .1s;
  transition: background .1s;
}

.popupCloseBtn:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.popupCloseBtn {
  position: absolute;
  right: 0;
  top: 0;
  width: 51px;
  height: 51px;
  font-size: 0;
  cursor: pointer;
}

.bg-menu-color {
  background-color: #f4f4f4;
}

.bb--dotted { border-bottom-style: dotted; border-bottom-width: 1px; }

.popup {
  position: absolute;
  left: 20px;
  top: 0px;
  right: 0px;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: end;
  -webkit-box-pack: end;
          justify-content: flex-end;
  pointer-events: none;
  -webkit-perspective: 2000px;
          perspective: 2000px;
}

.popupContainer {
  -webkit-box-shadow: 0 50px 100px rgba(50, 50, 93, 0.1), 0 15px 35px rgba(50, 50, 93, 0.15), 0 5px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 50px 100px rgba(50, 50, 93, 0.1), 0 15px 35px rgba(50, 50, 93, 0.15), 0 5px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  font-size: 17px;
  line-height: 40px;
  white-space: nowrap;
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
          flex-grow: 1;
  -webkit-transform: rotate3d(1, 1, 0, -15deg);
          transform: rotate3d(1, 1, 0, -15deg);
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
  opacity: 0;
  will-change: transform,opacity;
  -webkit-transition-property: opacity,-webkit-transform;
  transition-property: opacity,-webkit-transform;
  transition-property: transform,opacity;
  transition-property: transform,opacity,-webkit-transform;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.opened .popupContainer {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
  pointer-events: auto;
}


#btnControl {
    display: none;
}

#btnControl:checked + label .popupContainer {
      -webkit-transform: none;
          transform: none;
  opacity: 1;
  pointer-events: auto;
}

.date-picker {
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}

.util-wifi {
	background: url(../img/icon-tien-ich.png) center 0px no-repeat;
	height: 100px;
}

.util-trung-chuyen {
	background: url(../img/icon-tien-ich.png) center -178px no-repeat;
	height: 100px;
}

.util-dung-sl {
	background: url(../img/icon-tien-ich.png) center -361px no-repeat;
	height: 100px;
}

.util-de-mua {
	background: url(../img/icon-tien-ich.png) center -579px no-repeat;
	height: 100px;
}

.news-date-h {
  height: 69px;
}

.mw8-5 {
  max-width: 73rem;
}

.mw7-5 {
  max-width: 52rem;
}


/*
Header - navigation
*/

#header.transparent-navbar {
    height: 80px;
    z-index: 1000;
    padding: 0 0 10px;
    margin-bottom: 0;
    background: transparent;
    will-change: transfo9m, opacity;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 0;
}

.h6 {
  height: 32rem;
}

.h7 {
  height: 48rem;
}

.owl-pagination {
  position: absolute;
  right: 0;
  bottom: 0px;
}
