{{ define "main" }}
<main class="cf dark-gray mb3">
    {{ partial "section_breadcrumbs_single" . }}
    <div class="mw8-5 center darkblue pa0-l pa3">
        <h1 class="f3 lh-title">{{ .Title }}</h1>
        <h2 class="f4 lh-title gray">{{ .Params.address }}</h2>
        <h2 class="f4 lh-title gray">SĐT: {{ .Params.phone }}</h2>
        <div class="relative">
            <iframe class="w-100 h6" src="{{ .Params.googleMap }}">

            </iframe>
        </div>

    </div>
</main>



{{ end }}