<footer>
<div id="footer-body">
   <div class="f-body-wrap container">
      <nav id="nav-f">
         <ul>
            <li><a href="https://chinnghia.com.vn/siteterms/Huong-dan-mua-ve.html">Hướng dẫn mua vé</a></li>
            <li><a href="https://chinnghia.com.vn/siteterms/Dieu-khoan-va-qui-dinh.html">Điều khoản và qui định</a></li>
            <li><a href="https://chinnghia.com.vn/siteterms/Chinh-sach-bao-mat.html">Chính sách bảo mật</a></li>
            <li><a href="https://chinnghia.com.vn/siteterms/Dieu-khoan-thanh-toan.html">Điều khoản thanh toán</a></li>
            <li><a href="https://chinnghia.com.vn/siteterms/Chinh-sach-doi-tra.html">Chính sách đổi - trả</a></li>
         </ul>
      </nav>
      <div class="clear"></div>
      <div class="clearfix"></div>
      <div class="row">
         <div class="col-sm-6">
            <ul class="company_info" itemscope="" itemtype="http://schema.org/LocalBusiness">
               <li class="company_name"><span itemprop="name">Công ty TNHH Chín Nghĩa</span> (<span itemprop="alternateName">MST: 4300339552, Cấp tại Sở kế hoạch và đầu tư tỉnh Quảng Ngãi</span>)</li>
               <li><em class="fa fa-flag"></em><span> <span itemprop="founder" itemscope="" itemtype="http://schema.org/Person"><span itemprop="name">Chịu trách nhiệm: Nguyễn Nghĩa</span></span></span></li>
               <li><a style="margin-right:15px"><em class="fa fa-map-marker"></em><span> <span itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress"><span itemprop="addressLocality" class="company-address">Địa chỉ: 06 Hà Huy Tập - P.Nghĩa Chánh - TP.Quảng Ngãi</span></span></span></a> <em class="fa fa-phone"></em><span><span itemprop="telephone">02553.820.820</span></span></li>
               <li><em class="fa fa-envelope"></em><span> <a href="mailto:Email:%20dichvuthuexechinnghia@gmail.com"><span itemprop="email">Email: dichvuthuexechinnghia@gmail.com</span></a></span></li>
               <li><em class="fa fa-globe"></em><span>Website: <a href="http://chinnghia.com.vn/" target="_blank"><span itemprop="url">http://chinnghia.com.vn</span></a></span></li>
            </ul>
         </div>
         <div class="col-sm-3">
            <div style="text-align:center"><a href="http://www.online.gov.vn/CustomWebsiteDisplay.aspx?DocId=31055" target="_blank"><img alt="dathongbao" src="{{ .Site.BaseURL }}img/dathongbao.png"></a></div>
         </div>
         <div class="col-sm-3">
            <span class="visible-xs-inline-block"><a title="Chúng tôi trên mạng xã hội" class="pointer button" data-toggle="tip" data-target="#socialList" data-click="y"><em class="fa fa-share-alt fa-lg"></em><span class="hidden">Chúng tôi trên mạng xã hội</span></a></span>
            <div id="socialList" class="content">
               <h3 class="">Chúng tôi trên mạng xã hội</h3>
               <ul class="socialList">
                  <li><a href="https://www.facebook.com/xechinnghia" target="_blank"><i class="fa fa-facebook">&nbsp;</i></a></li>
                  <li><a href="https://www.youtube.com/watch?v=1FMoN0xaJ18" target="_blank"><i class="fa fa-youtube">&nbsp;</i></a></li>
               </ul>
            </div>
         </div>
      </div>
      <div class="clearfix"></div>
      <div class="copyright">
         <span>©&nbsp;Bản quyền thuộc về <a href="{{ .Site.BaseURL }}">Chín Nghĩa - Tất cả vì khách hàng</a>.&nbsp; </span>
         <span>Thiết kế bởi <a href="http://vexere.com/" target="_blank">VeXeRe</a>.&nbsp; </span>
         <br>
      </div>
   </div>
</div>
</footer>

<!-- /#footer -->

<!-- *** FOOTER END *** -->
