<nav>
  <div class="container">
     <div id="logo" class="pull-left">
        <a title="{{ .Title }}" href="{{ .Site.BaseURL }}"><img id="logo-main" src="{{ .Site.BaseURL }}{{ .Site.Params.Logo }}" alt="{{ .Title }}"></a>
     </div>
     <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed sb-toggle-left" data-toggle="collapse" data-target="" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
     </div>
     <div class="pull-right hidden-xs">
        <div class="metismenu">
           <nav>
              <ul>
                {{ range .Site.Menus.main }}
                 <li><a href="{{ .URL }} ">{{ .Name }}</a></li>
                {{ end }}
              </ul>
           </nav>
        </div>
     </div>
  </div>
</nav>

<!-- *** NAVBAR END ***-->
