{{ template "_internal/google_analytics.html" . }}

<script src="{{ .Site.BaseURL }}js//jquery.min.js.download"></script>
<script>var nv_base_siteurl="/",nv_lang_data="vi",nv_lang_interface="vi",nv_name_variable="nv",nv_fc_variable="op",nv_lang_variable="language",nv_module_name="news",nv_func_name="main",nv_is_user=0, nv_my_ofs=7,nv_my_abbr="ICT",nv_cookie_prefix="nv4c_x721L",nv_check_pass_mstime=1738000,nv_area_admin=0,nv_safemode=0,theme_responsive=1;</script>
<script src="{{ .Site.BaseURL }}js//vi.js.download"></script>
<script src="{{ .Site.BaseURL }}js//global.js.download"></script>
<script src="{{ .Site.BaseURL }}js//news.js.download"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js//bootstrap-datepicker.min.js.download"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js//bootstrap-datepicker.vi.min.js.download"></script>
<script type="text/javascript">
 $(document.body).on('hidden.bs.modal', function () {
   $('#blocksearch').removeData();
 });
 jQuery(document).ready(function($) {
     $("input[name=date]").datepicker({
         language: "vi",
         format: "dd/mm/yyyy",
         startDate: '15/03/2018',
         endDate: '14/05/2018',
         autoclose: true,
         weekStart: 1
     });
 });  
 function fill_endpoin(){
     var startpoin = $('[name="startpoin"]').val();
     $.get(nv_base_siteurl + 'index.php?' + nv_lang_variable + '=' + nv_lang_data + '&' + nv_name_variable + '=muave&' + nv_fc_variable + '=main&fill_endpoin=1&startpoin=' + startpoin, function(res){
       $("#endpoin").html( res );
   });
 }
 function fill_search(){
     var startpoin = $('[name="startpoin"]').val();
     var endpoin = $('[name="endpoin"]').val();
     var datestart = $('[name="date"]').val();
     $.get(nv_base_siteurl + 'index.php?' + nv_lang_variable + '=' + nv_lang_data + '&' + nv_name_variable + '=muave&' + nv_fc_variable + '=main&fill_search=1&startpoin=' + startpoin + '&endpoin=' + endpoin + '&datestart=' + datestart, function(res){
       if( res != '' )
       {
         window.location.href = res;
     }
 });
 }
</script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js//jquery.flexslider-min.js.download"></script>
<script type="text/javascript">
 jQuery(document).ready(function() {
     jQuery("#slider-home74").flexslider({
         slideshowSpeed: 20000,
         pauseOnHover: true
     });
 });
</script>
<script type="text/javascript">
 function submitdatxe()
 {
     $('#pictureUploading').show();
     $('#submitdatxebutton').hide();
     $.get('/index.php?language=vi&nv=news&op=sendmail&id=' + $('[name="catid"]').val() + '&submitdatxe=1&hoten=' + $('[name="hoten"]').val() + '&dienthoai=' + $('[name="dienthoai"]').val() + '&diachi=' + $('[name="diachi"]').val() + '&ghichu=' + $('[name="ghichu"]').val(), function(res){
         if( res != "OK" ){
          alert(res);
          $('#pictureUploading').hide();
          $('#submitdatxebutton').show();
      }else{
         alert( 'Bạn đã gửi đơn đặt hàng thành công. Chúng tôi sẽ liên hệ trong thời gian sớm nhất. Chân thành cảm ơn!' );
         window.location.href = window.location.href;
     }
 });
 }
</script>
<script type="text/javascript">
 jQuery(document).ready(function() {
     jQuery("#slider-home81").flexslider({
         slideshowSpeed: 20000,
         pauseOnHover: true
     });
 });
</script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js//bootstrap.min.js.download"></script>
