{{ define "main" }}

<main class="dark-gray">
	{{ partial "carousel_other_page" . }}
	<section class="ph3 ph6-l ">
		<div class=" ">
			<p class="color tj">{{ .Content }}</p>
		</div>
	</section>
	<section class="ph3 ph6-l center darkblue">
		<div class="">
		{{ if eq (len .Data.Pages) 0 }}
		{{ range $index, $element := (.Site.GetPage "section" "tuyen-duong").Sections }}
		<div class="w-100 mt2 pb3 bt b--blue">
			<a href="{{ .URL }}" class="db link dim tc flex flex-wrap">
				<div class="w-25">
					<div class="aspect-ratio aspect-ratio--6x4 mt3">
						<img src="{{ .Params.Thumbnail }}" alt="{{ .Title }}" class="aspect-ratio--object cover db black-10"/>
					</div>
				</div>
				<div class="w-75 pl3">
					<p class="f6 tl ml0 color b">{{ .Title }}</p>
					<div class="f7 tl vxr-gray">{{ dateFormat "03/01/02" .Date }}</div>
					<p class="f6 color tj">{{ .Description }}</p>
				</div>
			</a>
		</div>

		{{ end }}
		{{ else }} 
				{{ range $index, $element := .Data.Pages.ByPublishDate.Reverse }}
		<div class="w-100 mt2 pb3 bt b--blue">
			<a href="{{ .URL }}" class="db link dim tc flex flex-wrap">
				<div class="w-25">
					<div class="aspect-ratio aspect-ratio--6x4 mt3">
						<img src="{{ .Params.Thumbnail }}" alt="{{ .Title }}" class="aspect-ratio--object cover db black-10"/>
					</div>
				</div>
				<div class="w-75 pl3">
					<p class="f6 tl ml0 color b">{{ .Title }}</p>
					<div class="f7 tl vxr-gray">{{ dateFormat "03/01/02" .Date }}</div>
					<p class="f6 color tj">{{ .Description }}</p>
				</div>
			</a>
		</div>

		{{ end }}
		{{ end }}

		

		</div>
	</section>
</main>

{{ end }}