<div class="cf bg-color ph6-l w-100 dt flex flex-wrap pt2">
    <p class="dib dtc v-mid center f2 white">Bạn cần hỗ trợ?</p>
    <p class="dib dtc v-mid center f4 br3 ph4 pv2 bg-yellow blue mr4 tc lh-copy b">Xem ngay
        <br/>câu hỏi thường gặp</p>
    <p class="dib dtc v-mid center f4 br3 ph4 pv2 bg-red white tc lh-copy b">
        <i class="yellow  v-mid fas fa-phone f2 dib mr3"></i>
        <span class="dib v-mid">Gọi ngay
            <br/>
            <a class="link" href="tel:02253717717">02253.717717</a>
        </span>
    </p>
</div>