{{ if isset .Site.Params "carousel" }}
{{ if .Site.Params.carousel.enable }}
{{ if gt (len .Site.Data.carousel) 0 }}
<section>
    <div class="home-carousel relative">
        <div class="dark-mask"></div>
        <div class="container">
            <div class="homepage owl-carousel owl-theme">
                {{ range .Params.banners }}
                <div class="item">
                    <img class="db mw-100 home-banner" src="{{ .image }}" alt="">
                    <div class="absolute w-100 tc top-0 ph2 ph6-l">
                        {{ .description | markdownify }}
                    </div>
                </div>
                {{ end }}
            </div>
            <!-- /.project owl-slider -->
        </div>
        {{ partial "home_tim_ve" . }}
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}
