<footer class="tl f6 bg-white haiau-gray lh-copy">
   <div class="cf ph3 ph6-l center flex flex-wrap pb4">
      <div class="w-100 w-33-l pv3 pr3-l">
         <img src="/img/logo-haiau-white.png">
         <p class="tj ">
            Được thành lập từ tháng 12/2002, xe khách Hải Âu được biết đến như là một thương hiệu uy tín trong lĩnh vực vận tải hành khách chất lượng cao và dịch vụ chuyển phát nhanh bằng ô tô. Trong gần 20 năm qua, chúng tôi tự hào được phục vụ hàng chục triệu lượt khách trên khắp 6 tỉnh, thành phố lớn: Hà Nội, Hải Phòng, Hải Dương, Hưng Yên, Thái Bình, Nam Định...
         </p>
      </div>
      <div class="w-100 w-33-l pa3-l ">
         <p class="f5 mb4 bb b--gray b color">Liên hệ</p>
         <p class=" b"><i class="fas fa-location-arrow mr2"></i>Số 16 Tôn Đức Thắng, Hải Phòng</p>
         <p class="b"><i class="fas fa-phone mr2 b"></i>02253.717717</p>
         <p class="b"><i class="fas fa-envelope mr2 b"></i>cskh@haiaubus.vn</p>
         <p class="mt4">
            <i class="fab f3 fa-facebook mr2" aria-hidden="true"></i>
            <i class="fab f3 fa-twitter-square mr2"></i>
            <i class="fab f3 fa-google-plus-square mr2"></i>
         </p>
      </div>
      <div class="w-100 w-33-l pv3 pl3-l">
         <p class="f5 mb4 bb b--gray b color">Đăng ký nhận tin tức</p>
         <p class="tj">
            Bạn muốn biết thông tin khuyến mãi? Bạn muốn mua vé trực tuyến? bạn muốn nhận tin tức và sự kiện hoạt động của Xe Khách Hải Âu? Hãy đăng ký chúng tôi
            <form netlify class="" action="#" name="Đăng ký nhận tin">
                 <fieldset class="cf bn ma0 pa0">
                         <input class="db h2 input-reset fl black-80 bg-light-gray pa2 lh-solid br2-ns mb2 ba b--light-gray" placeholder="Họ và tên" type="text" name="name" value="" oninvalid="this.setCustomValidity('Vui Lòng chọn nơi đi')" oninput="this.setCustomValidity('')" required>
                         <input class="db h2 input-reset  fl black-80 bg-light-gray pa2 lh-solid br2-ns mb2 ba b--light-gray" placeholder="Số điện thoại" type="text" name="phone" value="" id="from" oninvalid="this.setCustomValidity('Vui Lòng chọn nơi đi')" oninput="this.setCustomValidity('')" required>
                         <input class=" h2 input-reset  fl black-80 bg-light-gray pa2 lh-solid br2-ns mb2 ba b--light-gray" placeholder="Địa chỉ email" type="text" name="email" autocomplete="email" value="" id="from" oninvalid="this.setCustomValidity('Vui Lòng chọn nơi đi')" oninput="this.setCustomValidity('')" required>
                         <input class="h2 ml3 ph3 button-reset fl tc bn bg-animate bg-cta black b hover-bg-light-yellow  pointer br2-ns" type="submit" value="Đăng ký">
                   </div>
                 </fieldset>
             </form>
         </p>
      </div>
   </div>
   <div class="cf ph3 ph6-l flex flex-wrap items-center bg-light-gray pv3">
    Power by <img class="dib w1 mh1 " src="/img/icon-vxr.svg"/> <a class="" href="https://www.vexere.com">VeXeRe.com</a>
   </div>
</footer>
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

<!-- /#footer -->

<!-- *** FOOTER END *** -->
