<header class="fixed top-0 z-999 w-100 flex justify-between bg-color items-center ph2 ph6-l sans-serif">
  <a class="dib link" href="/"><img src="/img/logo-haiau.png"/></a>
  <nav class="flex-l items-center dn db-l">
    <ul class="list mv0" >
      <li class=" dib hover-bg-dark-blue">
        <a class="link b f6 white ph2 dtc v-mid" href="/"><span class="">Trang chủ</span></a>
      </li>
      <li class=" dib hover-bg-dark-blue">
        <a class="link b f6 dib mr3 white ph2 dim dtc v-mid" href="#"><span>Giới thiệu</span></a>
        <div class="sub-menu dn absolute top-100 z-max  vw-100 left-0 ph6 bg-white ba b--light-gray pv3">
          <img src="/img/vip_hai_au_1eav1514016204.JPG" alt="Hải Âu" class="w-40 mr3 fl" />
          <ul class="list bg-white tl ph1 fl">
            <li class="b pa2 white bb b--white-50 bg-blue">
              <a class="link white" href="/gioi-thieu/gioi-thieu-xe-khach-hai-au">Giới thiệu</a>
            </li>
            {{ range sort (where .Site.Pages ".Type" "gioi-thieu") ".Weight" "asc" }}
            {{ if .Weight}}
            <li class="  ba bl-0 bt-0 br-0 b--dashed b--light-blue">
              <a class="link f6 dib mr3 tl pa2 color dim" href="{{ .URL }}">{{ .Title }}</a>
            </li>
            {{ end }}
            {{ end }}
          </ul>
        </div>
      </li>
      <li class=" dib hover-bg-dark-blue">
        <a class="link b f6 dib mr3 white ph2 dim dtc v-mid" href="#">Các tuyến xe khách</a>
        <div class="sub-menu dn absolute top-100 z-max vw-100 left-0 ph6 bg-white ba b--light-gray pv3">
            {{ $sections := (.Site.GetPage "section" "tuyen-duong").Sections }}
            {{ range $sections }}
            <ul class="list bg-white tl ph1 pt2 fl w-25">
             <li class="b pa2 white bb b--white-50 bg-blue">
              <a class="link white" href="{{.URL}}">{{ .Title }}</a>
            </li>
            {{ range .Data.Pages }}
            <li class=" bb b--white-50">
              <a class="link f6 dib mr3 tl pa2 color dim ba bl-0 bt-0 br-0 b--dashed b--light-blue w-100" href="{{ .URL }}">{{ .Title }}</a>
            </li>
            {{ end }}
            </ul>
            {{ end }}
        </div>
      </li>
      <li class="dib hover-bg-dark-blue">
        <a class="link b f6 dib mr3 white ph2 dim dtc v-mid" href="#">Dịch vụ chuyển phát</a>
        <div class="sub-menu dn  absolute top-100 z-max">
          <ul class="list bg-white tl ph1 ">
            <li class=" bb b--white-50">
              <a class="link f6 dib mr3 color tl pa2 dim" href="/chuyen-phat-nhanh/">Chuyển phát nhanh</a>
            </li>
            <li class=" bb b--white-50">
              <a class="link f6 dib mr3 color tl pa2 dim" href="/chuyen-phat-vip">Chuyển phát VIP</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="dib hover-bg-dark-blue">
        <a class="link b f6 dib mr3 white ph2 dim dtc v-mid" href="/tin-tuc/">Tin tức</a>
        <div class="sub-menu dn absolute top-100 z-max vw-100 left-0 ph6 bg-white ba b--light-gray pv3">
          {{ $sections := (.Site.GetPage "section" "tin-tuc").Sections }}
          {{ range $sections }}
          <ul class="list bg-white tl ph1 pt2 fl w-25">
           <li class="b pa2 white bb b--white-50 bg-blue">
            <a class="link white" href="{{.URL}}">{{ .Title }}</a>
          </li>
          {{ $sectionURL := .URL }}
          {{ if .Params.customCategories  }}
          {{ range .Params.customCategories }}
          <li class=" bb b--white-50">
            <a class="link f6 dib mr3 tl pa2 color dim ba bl-0 bt-0 br-0 b--dashed b--light-blue w-100" href="{{ $sectionURL }}{{.value}}">{{ .name }}</a>
          </li>
          {{ end }}
          {{ end }}
          </ul>
          {{ end }}
        </div>
      </li>
      <li class="dib hover-bg-dark-blue">
        <a class="link b f6 dib mr3 white ph2 dim dtc v-mid" href="/faqs/">FAQs</a>
      </li>
      <li class="dib hover-bg-dark-blue">
        <a class="link b f6 dib white dim ph2 dtc v-mid" href="/lien-he/">Liên hệ</a>
      </li>
      <!-- <li class="dib hover-bg-dark-blue v-mid">
        <a href="https://www.facebook.com/xekhachviphaiau/">
          <i class="fab fa-facebook "></i>
          </a>
      </li> -->
    </ul>
  </nav>
  <input type="checkbox" id="btnControl"/>
  <label class="dn-l" for="btnControl">
    <span id="btnLeft" class="db dn-l z-max" data-reactid="17">
      <div class="hamburger dib dn-l" data-reactid="18"><h2 class="blue" data-reactid="19"><i class="white f3 fas fa-bars"></i></h2></div>
      <div class="popup z-max" data-reactid="20">
        <ul class="popupContainer pl0 br3 br--left bg-menu-color w-100 list overflow-scroll">
          <li class="pv2 cf w-100 bb--dotted b--gray "><span class="w-90 tc fl f3 b blue ttu">Hải Âu</span>
            <span class="popupCloseBtn fr pt1"><i class="fas fa-times mr2"></i></span></li>
          <li class="pa1 w-100 b f5 bb--dotted b--gray "><a class="link dim" href="/">Trang chủ</a></li>
          <li class="pa1 w-100 b f5 dark-blue bb--dotted b--gray "><a class="link dim" href="/gioi-thieu-cong-ty/">Giới thiệu</a></li>
          <li class="pa1 w-100 b f5 dark-blue bb--dotted b--gray "><a class="link dim" href="/cac-tuyen-xe-khach">Các tuyến xe khách</a></li>
            {{ range sort (where .Site.RegularPages ".Type" "tuyen-duong") ".Weight" "asc" }}
            {{ if .Weight}}
            <li class="dn pa1 pl4 w-100 f5 dark-blue bb--dotted b--gray ">
              <a class="link dim" href="{{ .URL }}">{{ .Title }}</a>
            </li>
            {{ end }}
            {{ end }}
            <li class="pa1 b w-100 f5 dark-blue bb--dotted b--gray ">Dịch vụ chuyển phát</li>
            <li class="pa1 pl4 w-100 f5 dark-blue bb--dotted b--gray">
              <a class="f5 link dim" href="/chuyen-phat-nhanh/">Chuyển phát nhanh</a>
            </li>
            <li class="pa1 pl4 w-100 f5 dark-blue bb--dotted b--gray">
              <a class="f5 link dim" href="/chuyen-phat-vip">Chuyển phát VIP</a>
            </li>
            <li class="pa1 b w-100 f5 dark-blue bb--dotted b--gray">
              <a class="link dim" href="/tin-tuc/">Tin tức</a>
            </li>
            <li class="pa1 b w-100 f5 dark-blue bb--dotted b--gray">
              <a class="link dim" href="/FAQs/">FAQs</a>
            </li>
            <li class="pa1 b w-100 f5 dark-blue bb--dotted b--gray">
              <a class="link dim" href="/lien-he/">Liên hệ</a>
            </li>
        
        </ul>
      </div>
    </span>
  </label>
</header>

<!-- *** NAVBAR END ***-->
