<header class="fixed top-0 z-999 w-100 flex justify-between bg-color items-center ph2 ph6-l sans-serif">
  <a class="dib link" href="/"><img src="/img/logo-haiau.png"/></a>
  <nav class="flex-l items-center dn db-l">
    <ul class="list mv0" >
      <li class=" dib hover-bg-dark-blue">
        <a class="link b f6 white ph2 dtc v-mid" href="/"><span class="">Trang chủ</span></a>
      </li>
      <li class=" dib hover-bg-dark-blue">
        <a class="link b f6 dib mr3 white ph2 dim dtc v-mid" href="#"><span>Giới thiệu</span></a>
        <div class="sub-menu dn absolute top-100 z-max">
          <ul class="list bg-white tl ph1">
            {{ range sort (where .Site.Pages ".Type" "gioi-thieu") ".Weight" "asc" }}
            {{ if .Weight}}
            <li class=" bb b--white-50">
              <a class="link f6 dib mr3 tl pa2 color dim" href="{{ .URL }}">{{ .Title }}</a>
            </li>
            {{ end }}
            {{ end }}
          </ul>
        </div>
      </li>
      <li class=" dib hover-bg-dark-blue">
        <a class="link b f6 dib mr3 white ph2 dim dtc v-mid" href="#">Các tuyến xe khách</a>
        <div class="sub-menu dn absolute top-100 z-max">
          <ul class="list bg-white tl ph1 pt2">
            {{ $sections := (.Site.GetPage "section" "tuyen-duong").Sections }}
            {{ range $sections }}
             <li class="b dark-blue bb b--white-50">
              <a class="link" href="{{.URL}}">{{ .Title }}</a>
            </li>
            {{ range .Data.Pages }}
            <li class=" bb b--white-50">
              <a class="link f6 dib mr3 tl pa2 color dim" href="{{ .URL }}">{{ .Title }}</a>
            </li>
            {{ end }}
            {{ end }}
          </ul>
        </div>
      </li>
      <li class="dib hover-bg-dark-blue">
        <a class="link b f6 dib mr3 white ph2 dim dtc v-mid" href="#">Dịch vụ chuyển phát</a>
        <div class="sub-menu dn  absolute top-100 z-max">
          <ul class="list bg-white tl ph1 ">
            <li class=" bb b--white-50">
              <a class="link f6 dib mr3 color tl pa2 dim" href="/chuyen-phat-nhanh/">Chuyển phát nhanh</a>
            </li>
            <li class=" bb b--white-50">
              <a class="link f6 dib mr3 color tl pa2 dim" href="/chuyen-phat-vip">Chuyển phát VIP</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="dib hover-bg-dark-blue">
        <a class="link b f6 dib mr3 white ph2 dim dtc v-mid" href="/tin-tuc/">Tin tức</a>
      </li>
      <li class="dib hover-bg-dark-blue">
        <a class="link b f6 dib mr3 white ph2 dim dtc v-mid" href="/FAQs/">FAQs</a>
      </li>
      <li class="dib hover-bg-dark-blue">
        <a class="link b f6 dib white dim ph2 dtc v-mid" href="/lien-he/">Liên hệ</a>
      </li>
    </ul>
  </nav>
  <input type="checkbox" id="btnControl"/>
  <label class="dn-l" for="btnControl">
    <span id="btnLeft" class="db dn-l z-max" data-reactid="17">
      <div class="hamburger dib dn-l" data-reactid="18"><h2 class="blue" data-reactid="19"><i class="white f3 fas fa-bars"></i></h2></div>
      <div class="popup z-max" data-reactid="20">
        <ul class="popupContainer pl0 br3 br--left bg-menu-color w-100 list overflow-scroll">
          <li class="pv2 cf w-100 bb--dotted b--gray "><span class="w-90 tc fl f3 b blue ttu">Hải Âu</span>
            <span class="popupCloseBtn fr pt1"><i class="fas fa-times mr2"></i></span></li>
          <li class="pa1 w-100 b f5 bb--dotted b--gray "><a class="link dim" href="/">Trang chủ</a></li>
          <li class="pa1 w-100 b f5 dark-blue bb--dotted b--gray "><a class="link dim" href="/gioi-thieu-cong-ty/">Giới thiệu</a></li>
          <li class="pa1 w-100 b f5 dark-blue bb--dotted b--gray "><a class="link dim" href="/cac-tuyen-xe-khach">Các tuyến xe khách</a></li>
            {{ range sort (where .Site.RegularPages ".Type" "tuyen-duong") ".Weight" "asc" }}
            {{ if .Weight}}
            <li class="dn pa1 pl4 w-100 f5 dark-blue bb--dotted b--gray ">
              <a class="link dim" href="{{ .URL }}">{{ .Title }}</a>
            </li>
            {{ end }}
            {{ end }}
            <li class="pa1 b w-100 f5 dark-blue bb--dotted b--gray ">Dịch vụ chuyển phát</li>
            <li class="pa1 pl4 w-100 f5 dark-blue bb--dotted b--gray">
              <a class="f5 link dim" href="/chuyen-phat-nhanh/">Chuyển phát nhanh</a>
            </li>
            <li class="pa1 pl4 w-100 f5 dark-blue bb--dotted b--gray">
              <a class="f5 link dim" href="/chuyen-phat-vip">Chuyển phát VIP</a>
            </li>
            <li class="pa1 b w-100 f5 dark-blue bb--dotted b--gray">
              <a class="link dim" href="/tin-tuc/">Tin tức</a>
            </li>
            <li class="pa1 b w-100 f5 dark-blue bb--dotted b--gray">
              <a class="link dim" href="/FAQs/">FAQs</a>
            </li>
            <li class="pa1 b w-100 f5 dark-blue bb--dotted b--gray">
              <a class="link dim" href="/lien-he/">Liên hệ</a>
            </li>
        
        </ul>
      </div>
    </span>
  </label>
</header>

<!-- *** NAVBAR END ***-->
