<section class="dn db-l relative ">
	<img class=" w-100" src="/img/express-delivery-1499x540.png" />
	<div class="absolute top-0 o-40 bg-white w-100 h-100"></div>
	<div class="absolute top-0 tc ph3 ph6-l pt4">
		<p class="f1 b ttu yellow" style="-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #0071b7;">{{ .Params.headings.service }}</p>
		<div class="color lh-copy tl mt5 ph6"><p class="ph5">Là dịch vụ chuyển phát nhanh thư, tài liệu, vật phẩm, hàng hóa... từ người gửi đến người nhận chỉ trong vòng 12 giờ. Dịch vụ chuyển tiền nhanh chỉ trong 2 phút. Hải Âu phục vụ khách hàng trên 6 tỉnh thành phố: Hà Nội, Hải Phòng, Hải Dương, Hưng Yên, Thái Bình, Nam Định...</p></div>
		<a class="bg-cta pv3 ph4 br2 ba b--blue f4 b link desc-color dib mt4" href="#">Đơn chuyển hàng</a>
	</div>
</section>
