<section class="dn db-l relative">
	<img class=" w-100" src="/img/express-delivery-1080x540.jpg" />
	<div class="absolute top-0 o-30 bg-white w-100 h-100"></div>
	<div class="absolute top-0 tc ph3 ph6-l pt6">
		<h1 class="f2 ttu yellow" style="-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #0071b7;">{{ .Params.headings.service }}</h1>
		<p class="color tl mt5 ph6">Là dịch vụ chuyển phát nhanh thư, tài liệu, vật phẩm, hàng hóa... từ người gửi đến người nhận chỉ trong vòng 12 giờ. Dịch vụ chuyển tiền nhanh chỉ trong 2 phút. Hải Âu phục vụ khách hàng trên 6 tỉnh thành phố: Hà Nội, Hải Phòng, Hải Dương, Hưng Yên, Thái Bình, Nam Định...</p>
		<a class="bg-cta pa3 br2 f5 link desc-color dib mt3" href="#">Đơn chuyển hàng</a>
	</div>
</section>
