<section class="tc center relative bg-vxr-gray">
    <div class="tr h-100-l h4-5 ">
        <img src="/img/banner-haiau.png" class="h-100"/>
    </div>
    <div class="absolute w-100 tc top-0 ph2 ph6-l">
        <p class="dib db-l t0 l0 w-80 w-40-l w-6-l tc tl-l vxr-blue db mt4 mt5-l">
            <span class="f3 f2-l db">Xe khách Hải Âu</span>
            <span class="f3 f2-l vxr-blue db mt2 tc tj-l">An toàn chất lượng, mọi lúc mọi nơi</span>
            <span class="f6 dn db-l mt2 tj color">Xe khách Hải Âu an toàn chất lượng hàng đầu, mọi lúc mọi nơi, an toàn chất lượng hàng đầu an toàn chất lượng hàng đầu, hàng đầu chất lượng an toàn.</span>
        </p>
    </div>
    <div class="bg-color tc ph3 ph6-l">
        <div class="pv3 bt br1 br--bottom b--black-10">
            <form class="" action="/dat-ve-truc-tuyen">
                <fieldset class="bn ma0 pa0 ">
                    <div class="cf flex flex-wrap justify-between">
                        <div class="w-100 w-25-l pr2-l pb2">
                            <select class="w-100 h2 f7 input-reset bn black-80 bg-white pa2 lh-copy br2-ns" placeholder="Nhập nơi bạn đi" type="text" name="from" value="" id="from" oninvalid="this.setCustomValidity('Vui Lòng chọn nơi đi')" oninput="this.setCustomValidity('')" required>
                                <option value="">Nhập nơi bạn đi</option>
                                <option value="24">Hà Nội</option>
                                <option value="27">Hải Phòng</option>
                                <option value="54">Thái Bình</option>
                            </select>
                        </div>
                        <div class="w-100 w-25-l pr2-l pb2">
                            <select class="w-100 h2 f7 input-reset bn black-80 bg-white pa2 lh-copy br2-ns" placeholder="Nhập nơi bạn đến" type="text" name="to" value="" id="to" oninvalid="this.setCustomValidity('Vui Lòng chọn nơi đến')" oninput="this.setCustomValidity('')" required>
                                <option value="">Nhập nơi bạn đến</option>
                                <option value="24">Hà Nội</option>
                                <option value="27">Hải Phòng</option>
                                <option value="54">Thái Bình</option>
                            </select>
                        </div>
                        <div class="w-100 w-25-l pr2-l pb2">
                            <input type="text" class="w-100 h2 f7 input-reset bn black-80 bg-white pa2 lh-copy br2-ns mr2 date-picker" placeholder="Chọn ngày đi" type="text" name="departDate" value="" id="departDate">
                        </div>
                        <div class="w-100 w-25-l pr2-l">
                            <input class="w-100 h2 f7 button-reset ph3 tc bn bg-animate btn-bg-color hover-bg-black white pointer br2-ns lh-copy shadow-1" type="submit" value="Tìm Vé Xe Rẻ">
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</section>
