{{ with .Site.GetPage "page" "gioi-thieu/_index.md" }}
<section class="ph2 ph6-l pt4 bg-light-gray pb4 pb5-ns">
	<div class="dt flex flex-wrap-reverse">
		<div class="dtc v-top w-100 w-50-l mid-gray pr5-l pr2">
			<h1 class="f4 f3-l blue v-top ma0 dn dib-l">{{ .Title }}</h1>
			<p class="lh-copy tj">
				Công ty TNHH vận tải Bus Hải Phòng được là doanh nghiệp hoạt động trong lĩnh vực vận tải hành khách đường bộ và chuyển phát hàng hóa với thương hiệu Xe khách Hải Âu. Trải qua gần 20 năm hình thành, xây dựng và phát triển, đến nay, chúng tôi tự hào được phục vụ hàng chục triệu lượt khách hàng trên 6 tỉnh, thành phố:
			</p>
			<p class="lh-copy tj">
				Hải Phòng – Hải Dương – Hưng Yên – Hà Nội – Thái Bình – Nam Định
			</p>	
			<p class="lh-copy tj dn">
				Hình ảnh xe khách Hải Âu trong sắc xanh thanh nhã cùng hình tượng cánh chim hải âu phóng khoáng đã trở nên quen thuộc và luôn được ưu tiên lựa chọn hàng đầu của khách hàng trong các tỉnh miền Bắc.  Với sự quan tâm và tin tưởng đó, Hải Âu luôn không ngừng nỗ lực nâng cao chất lượng phục vụ, trang bị phương tiện và cơ sở hạ tầng hiện đại, đào tạo đội ngũ nhân viên chuyên nghiệp, thân thiện nhằm đem đến trải nghiệm thoải mái nhất cho khách hàng.
			</p>
		</div>
		<div class="dtc v-top w-100 w-50-l center">
			<img src="img/driver.png" alt="A bright blue sky" class="w-100 db" />
		</div>
		<h1 class="f4 f3-l blue v-top ma0 dib dn-l mb2">Giới thiệu nhà xe Hải Âu</h1>
	</div>

</section>

{{ end }}
