<footer class="tl bg-white white">
   <div class="cf mw8-5 center flex flex-wrap pb4">
      <div class="w-100 w-33-l pa3">
         <img src="/img/logo-haiau-white.png">
         <p class="gray tj">
            Được thành lập từ tháng 12/2002, xe khách Hải Âu được biết đến như là một thương hiệu uy tín trong lĩnh vực vận tải hành khách chất lượng cao và dịch vụ chuyển phát nhanh bằng ô tô. Trong gần 20 năm qua, chúng tôi tự hào được phục vụ hàng chục triệu lượt khách trên khắp 6 tỉnh, thành phố lớn: Hà Nội, Hải Phòng, Hải Dương, Hưng Yên, Thái Bình, Nam Định...
         </p>
      </div>
      <div class="w-100 w-33-l pa3 gray">
         <h2 class="f3 black bb b--gray">Liên hệ</h2>
         <p><i class="fas fa-location-arrow mr2"></i>Số 16 Tôn Đức Thắng, Hải Phòng</p>
         <p><i class="fas fa-phone mr2"></i>02253.717717</p>
         <p><i class="fas fa-envelope mr2"></i>cskh@haiaubus.vn</p>
         <p class="mt4">
            <i class="fab f3 fa-facebook mr2" aria-hidden="true"></i>
            <i class="fab f3 fa-twitter-square mr2"></i>
            <i class="fab f3 fa-google-plus-square mr2"></i>
         </p>
      </div>
      <div class="w-100 w-33-l pa3">
         <h2 class="f3 black bb b--gray">Đăng ký nhận tin tức</h2>
         <p class="gray tj">
            Bạn muốn biết thông tin khuyến mãi? Bạn muốn mua vé trực tuyến? bạn muốn nhận tin tức và sự kiện hoạt động của Xe Khách Hải Âu? Hãy đăng ký chúng tôi
            <form netlify class="" action="#" name="Đăng ký nhận tin">
                 <fieldset class="cf bn ma0 pa0">
                     <div class="cf flex flex-column">
                         <input class="f6 f6-l input-reset fl black-80 bg-light-gray pa2 lh-solid br2-ns mb1 ba b--light-gray" placeholder="Họ và tên" type="text" name="name" value="" oninvalid="this.setCustomValidity('Vui Lòng chọn nơi đi')" oninput="this.setCustomValidity('')" required>
                         <input class="f6 f6-l input-reset bn fl black-80 bg-light-gray pa2 lh-solid br2-ns mb1 ba b--light-gray" placeholder="Số điện thoại" type="text" name="phone" value="" id="from" oninvalid="this.setCustomValidity('Vui Lòng chọn nơi đi')" oninput="this.setCustomValidity('')" required>
                         <input class="f6 f6-l input-reset bn fl black-80 bg-light-gray pa2 lh-solid br2-ns mb1 ba b--light-gray" placeholder="Địa chỉ email" type="text" name="email" autocomplete="email" value="" id="from" oninvalid="this.setCustomValidity('Vui Lòng chọn nơi đi')" oninput="this.setCustomValidity('')" required>
                        
                         <input class="f6 f6-l button-reset fl pv3 tc bn bg-animate bg-black-70 hover-bg-black white pointer br2-ns mt2" type="submit" value="Đăng ký">
                     </div>
                 </fieldset>
             </form>
         </p>
      </div>
   </div>
</footer>

<!-- /#footer -->

<!-- *** FOOTER END *** -->
