<header class="flex justify-between main-background-color items-center">
  <a class="dib" href="#"><img src="img/logo-haiau.png"/></a>
  <nav class="flex-l pa3 pa4-ns items-center dn">
    <a class="link f6 f4-ns dib mr3 main-text-color" href="#" title="Home">Trang chủ</a>
    <a class="link f6 f4-ns dib mr3 main-text-color" href="#" title="About">Giới thiệu</a>
    <a class="link f6 f4-ns dib mr3 main-text-color" href="#" title="Store">Các tuyến xe khách</a>
    <a class="link f6 f4-ns dib mr3 main-text-color" href="#" title="Contact">Dịch vụ chuyển phát</a>
    <a class="link f6 f4-ns dib mr3 main-text-color" href="#" title="Contact">Tin tức</a>
    <a class="link f6 f4-ns dib mr3 main-text-color" href="#" title="Contact">FAQs</a>
    <a class="link f6 f4-ns dib main-text-color" href="#" title="Contact">Liên hệ</a>
  </nav>
  <input type="checkbox" id="btnControl"/>
  <label class="dn-l" for="btnControl">
    <span id="btnLeft" class="db dn-l mr3" data-reactid="17">
      <div class="hamburger dib dn-l" data-reactid="18"><h2 class="darkblue" data-reactid="19">Menu</h2></div>
      <div class="popup" data-reactid="20">
        <div class="popupContainer bg-white br2" data-reactid="21">
          <div class="popupCloseBtn darkblue" data-reactid="22">Close</div>
          <div class="darkblue pa3 pv2" data-reactid="23"><h1 class="link mv0 tracked no-underline f3 fw4" data-reactid="24"><span class="fw6">HẢI ÂU</span></h1>
            <div class="flex flex-wrap" data-reactid="27">
              <a class="tracked w-50 b--darkblue bw1 ttu tracked-ns dim no-underline darkblue fw6 f5" title="Sign Up" href="/signup/trial" data-reactid="28">Trang chủ</a>
              <a class="tracked w-50 b--darkblue bw1 ttu tracked-ns dim no-underline darkblue fw6 f5" title="Pricing" href="/pricing" data-reactid="29">Giới thiệu</a>
              <a class="tracked w-50 b--darkblue bw1 ttu tracked-ns dim no-underline darkblue fw6 f5" title="Best Screenshot Service" href="/best-screenshot-service" data-reactid="30">Các tuyến xe khách</a><a class="tracked w-50 b--darkblue bw1 ttu tracked-ns dim no-underline darkblue fw6 f5" title="Docs" href="/docs" data-reactid="31">Dịch vụ chuyển phát</a>
              <a class="tracked w-50 b--darkblue bw1 ttu tracked-ns dim no-underline darkblue fw6 f5" title="Demo" href="/demo" data-reactid="32">Tin tức</a>
              <a class="tracked w-50 b--darkblue bw1 ttu tracked-ns dim no-underline darkblue fw6 f5" title="Sign In" href="/login" data-reactid="33">FAQs</a>
            </div>
          </div>
        </div>
      </div>
    </span>
  </label>
</header>

<!-- *** NAVBAR END ***-->
