<header class="flex justify-between main-background-color items-center">
  <a class="dib" href="/"><img src="/img/logo-haiau.png"/></a>
  <nav class="flex-l ph3 ph4-ns items-center dn db-l">
    <ul class="list">
      <li class=" dib">
        <a class="link f7 f5-ns dib mr3 main-text-color pl2 dim" href="/">Trang chủ</a>
      </li>
      <li class=" dib">
        <a class="link f7 f5-ns dib mr3 main-text-color pl2 dim" href="/gioi-thieu-cong-ty/">Giới thiệu</a>
      </li>
      <li class=" dib">
        <a class="link f7 f5-ns dib mr3 main-text-color pl2 dim" href="#">Các tuyến xe khách</a>
        <div class="sub-menu pt2 dn  absolute top-100 ">
          <ul class="list main-background-color tl ph1 br2 b--black-10 shadow-1">
            {{ range sort (where .Site.Pages ".Type" "tuyen-duong") ".Weight" "asc" }}
            {{ if .Weight}}
            <li class=" bb b--white-50">
              <a class="link f7 f5-ns dib mr3 tl pa1 main-text-color dim" href="{{ .URL }}">{{ .Title }}</a>
            </li>
            {{ end }}
            {{ end }}
          </ul>
        </div>
      </li>
    </ul>
    <li class="dib">
      <a class="link f7 f5-ns dib mr3 main-text-color pl2 dim" href="#">Dịch vụ chuyển phát</a>
        <div class="sub-menu pt2 dn  absolute top-100 ">

          <ul class="list main-background-color tl ph1 ma0 br2 b--black-10 shadow-1 pt1">
            <li class=" bb b--white-50">
              <a class="link f7 f5-ns dib mr3 main-text-color tl pa1 dim" href="/chuyen-phat-nhanh/">Chuyển phát nhanh</a>
            </li>
            <li class=" bb b--white-50">
              <a class="link f7 f5-ns dib mr3 main-text-color tl pa1 dim" href="/chuyen-phat-vip">Chuyển phát VIP</a>
            </li>
          </ul>
        </div>
    </li>
    <li class="dib">
    <li class="dib hide-child">
          <a class="link f7 f5-ns dib mr3 main-text-color tl pa1 dim" href="/tin-tuc/">Tin tức</a>
      </ul>
    </li>
    <li class="dib">
      <a class="link f7 f5-ns dib mr3 main-text-color dim" href="/FAQs/">FAQs</a>
    </li>
    <li class="dib">
      <a class="link f7 f5-ns dib main-text-color dim" href="/lien-he/">Liên hệ</a>
    </li>
  </nav>
  <input type="checkbox" id="btnControl"/>
  <label class="dn-l" for="btnControl">
    <span id="btnLeft" class="db dn-l mr3" data-reactid="17">
      <div class="hamburger dib dn-l" data-reactid="18"><h2 class="darkblue" data-reactid="19">Menu</h2></div>
      <div class="popup" data-reactid="20">
        <div class="popupContainer bg-white br2" data-reactid="21">
          <div class="popupCloseBtn darkblue" data-reactid="22">Close</div>
          <div class="darkblue pa3 pv2" data-reactid="23"><h1 class="link mv0 tracked no-underline f3 fw4" data-reactid="24"><span class="fw6">HẢI ÂU</span></h1>
            <div class="flex flex-wrap" data-reactid="27">
              <a class="tracked w-50 b--darkblue bw1 ttu tracked-ns dim no-underline darkblue fw6 f5" title="Sign Up" href="/signup/trial" data-reactid="28">Trang chủ</a>
              <a class="tracked w-50 b--darkblue bw1 ttu tracked-ns dim no-underline darkblue fw6 f5" title="Pricing" href="/pricing" data-reactid="29">Giới thiệu</a>
              <a class="tracked w-50 b--darkblue bw1 ttu tracked-ns dim no-underline darkblue fw6 f5" title="Best Screenshot Service" href="/best-screenshot-service" data-reactid="30">Các tuyến xe khách</a><a class="tracked w-50 b--darkblue bw1 ttu tracked-ns dim no-underline darkblue fw6 f5" title="Docs" href="/docs" data-reactid="31">Dịch vụ chuyển phát</a>
              <a class="tracked w-50 b--darkblue bw1 ttu tracked-ns dim no-underline darkblue fw6 f5" title="Demo" href="/demo" data-reactid="32">Tin tức</a>
              <a class="tracked w-50 b--darkblue bw1 ttu tracked-ns dim no-underline darkblue fw6 f5" title="Sign In" href="/login" data-reactid="33">FAQs</a>
            </div>
          </div>
        </div>
      </div>
    </span>
  </label>
</header>

<!-- *** NAVBAR END ***-->
