<section>
   <div class="container">
      <div class="nv-block-banners" style="margin-bottom: 15px;>
         <a href=" index.php?language="vi&amp;nv=banners&amp;op=click&amp;id=24&quot;" onclick="this.target='_blank'" title="Tổng đài đặt vé"> <img alt="Tổng đài đặt vé" src="/img/uploads/banners/tongdaidatve.png"> </div>
      <div class="clearfix"></div>
      <div class="row">
         <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 col-ms-12">
            <div>
               <h3 class="heading"><i class="fa fa-car"></i> <span>Đặt xe du lịch</span></h3>
               <div class="clearfix"></div>
               <div class="main_primary" style="margin-bottom:10px">
                  <div class="primary">
                     <form class="form" name="bookingPartialForm" style="margin: -7px 0">
                        <div class="row">
                           <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-ms-12">
                              <div class="form-group">
                                 <label for="">Họ và tên</label>
                                 <div class="controls">
                                    <i class="fa fa-user text-primary"></i>
                                    <input type="text" name="hoten" class="form-control">
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-ms-12">
                              <div class="form-group">
                                 <label for="">Số điện thoại</label>
                                 <div class="controls">
                                    <i class="fa fa-phone-square text-primary"></i>
                                    <input type="text" name="dienthoai" class="form-control">
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-ms-12">
                              <div class="form-group">
                                 <label for="">Địa chỉ</label>
                                 <div class="controls">
                                    <i class="fa fa-gg text-primary"></i>
                                    <input type="text" name="diachi" class="form-control">
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-ms-12">
                              <div class="form-group">
                                 <label for="">Chọn xe</label>
                                 <div class="controls">
                                    <i class="fa fa-bus text-primary"></i>
                                    <select class="form-control selectpicker" name="catid">
                                       <option value="27">Xe 4 chổ</option>
                                       <option value="28">Xe 7 chổ</option>
                                       <option value="29">Xe 16 chổ</option>
                                       <option value="30">Xe 30 chổ</option>
                                       <option value="31">Xe 35 chổ</option>
                                       <option value="32">Xe 40 chổ</option>
                                       <option value="34">Xe 45 chổ</option>
                                    </select>
                                 </div>
                              </div>
                           </div>
                           <div class="col-sm-12">
                              <div class="form-group">
                                 <div class="controls">
                                    <i class="fa fa-comments text-primary"></i>
                                    <input placeholder="Thông tin ghi chú" type="text" name="ghichu" class="form-control">
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-ms-12" id="submitdatxe">
                           <div id="pictureUploading"><span class="fa fa-refresh glyphicon-refresh-animate"></span> Loading...</div>
                           <button id="submitdatxebutton" onclick="submitdatxe();" type="button" class="btn btn-primary btn-block btn-flat btn-booking"><i class="fa fa-ticket icon-flat bg-btn-actived"></i>Gửi thông tin</button>
                        </div>
                        <div class="clearfix"></div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 col-ms-12">
            <div id="slider-home81" class="flexslider">
               <ul class="slides">
                  <li class="" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; transition: opacity 0.6s ease; z-index: 1;">
                     <a target="_blank" href="/index.php?language=vi&amp;nv=banners&amp;op=click&amp;id=19"><img src="/img/uploads/banners/dich-vu-thue-xe-tu-lai_1.jpg" alt="" draggable="false"></a>
                  </li>
                  <li style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; transition: opacity 0.6s ease; z-index: 2;" class="flex-active-slide">
                     <a target="_blank" href="/index.php?language=vi&amp;nv=banners&amp;op=click&amp;id=20"><img src="/img/uploads/banners/dich-vu-xe-hop-dong.jpg" alt="" draggable="false"></a>
                  </li>
               </ul>
               <ol class="flex-control-nav flex-control-paging">
                  <li><a class="">1</a></li>
                  <li><a class="flex-active">2</a></li>
               </ol>
               <ul class="flex-direction-nav">
                  <li class="flex-nav-prev"><a class="flex-prev" href="#">Previous</a></li>
                  <li class="flex-nav-next"><a class="flex-next" href="#">Next</a></li>
               </ul>
            </div>
            <div class="clear"></div>
         </div>
         <div class="clearfix"></div>
         <div class="col-sm-6">
            <h3 class="marker margin15">
               <i class="fa fa-list-ul" aria-hidden="true"></i>Giới thiệu Quảng Ngãi
            </h3>
            <div class="youtube-embed-wrapper" style="position:relative;padding-bottom:56.25%;padding-top:30px;height:0;overflow:hidden;"><iframe allowfullscreen="" frameborder="0" height="480" src="//www.youtube.com/embed/CrMonUDiM1A?rel=0" style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;" width="640"></iframe></div>
         </div>
         <div class="col-sm-6">
            <h3 class="marker margin15">
               <i class="fa fa-list-ul" aria-hidden="true"></i>Tin mới
            </h3>
            <div class="row">
               <div class="col-sm-12 rst-rightpost wow fadeInUp animated" data-wow-offset="20" data-wow-duration="1.2s" style="height: 342px;overflow: auto;">
                  <article>
                     <div class="rst-postpic">
                        <a href="/Bang-gia/bang-gia-ve-xe-may-tet-mau-tuat-2018-54.html"><img src="/img/uploads/news/banggiave_xemay.png" alt="BẢNG GIÁ VẬN CHUYỂN XE MÁY - MẬU TUẤT 2018">
                        </a>
                     </div>
                     <div class="rst-postinfo">
                        <h6><a href="/Bang-gia/bang-gia-ve-xe-may-tet-mau-tuat-2018-54.html">BẢNG GIÁ VẬN CHUYỂN XE MÁY - MẬU TUẤT 2018</a></h6>
                        <p></p>
                     </div>
                  </article>
                  <article>
                     <div class="rst-postpic">
                        <a href="/Bang-gia/bang-gia-ve-tet-mau-tuat-2018-53.html"><img src="/img/uploads/news/banggiave.png" alt="BẢNG GIÁ VÉ TẾT MẬU TUẤT - 2018">
                        </a>
                     </div>
                     <div class="rst-postinfo">
                        <h6><a href="/Bang-gia/bang-gia-ve-tet-mau-tuat-2018-53.html">BẢNG GIÁ VÉ TẾT MẬU TUẤT - 2018</a></h6>
                        <p></p>
                     </div>
                  </article>
                  <article>
                     <div class="rst-postpic">
                        <a href="/Tin-tuc/thong-bao-ke-hoach-mo-ban-ve-tet-mau-tuat-2018-dot-2-52.html"><img src="/img/uploads/news/vetetdot2.jpg" alt="THÔNG BÁO KẾ HOẠCH MỞ BÁN VÉ TẾT MẬU TUẤT 2018-ĐỢT  2">
                        </a>
                     </div>
                     <div class="rst-postinfo">
                        <h6><a href="/Tin-tuc/thong-bao-ke-hoach-mo-ban-ve-tet-mau-tuat-2018-dot-2-52.html">THÔNG BÁO KẾ HOẠCH MỞ BÁN VÉ TẾT MẬU TUẤT 2018-ĐỢT  2</a></h6>
                        <p>Ngày mở bán: 01/01//2018 DL (nhằm 15/11/2017 AL). TP Hồ Chí Minh – Quảng Ngãi và Tân Bình – Quảng Ngãi</p>
                     </div>
                  </article>
                  <article>
                     <div class="rst-postpic">
                        <a href="/Tin-tuc/thong-bao-ke-hoach-mo-ban-ve-tet-mau-tuat-2018-dot-1-51.html"><img src="/img/uploads/news/vetetdot1.jpg" alt="THÔNG BÁO KẾ HOẠCH MỞ BÁN VÉ TẾT MẬU TUẤT 2018-ĐỢT 1">
                        </a>
                     </div>
                     <div class="rst-postinfo">
                        <h6><a href="/Tin-tuc/thong-bao-ke-hoach-mo-ban-ve-tet-mau-tuat-2018-dot-1-51.html">THÔNG BÁO KẾ HOẠCH MỞ BÁN VÉ TẾT MẬU TUẤT 2018-ĐỢT 1</a></h6>
                        <p>Ngày mở bán: 27/12/2017 (nhằm ngày 10/11/2017 âm lịch). Các tuyến TP Hồ Chí Minh – Quảng Ngãi và Tân Bình –Quảng Ngãi</p>
                     </div>
                  </article>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>