<section class="flex main-background items-center-l">
    <div class="dib center left-l br1 hidden ba b--black-10 mv4-l ml4-l w-100 w-25-l h-100">
        <h1 class="f4 bg-near-white br1 br--top blue-60 mv0 pv2 ph3 ttu flex items-center">
            <img src="img/ticket.png" class="w2 h2 mr2"></img>
            <span>Tìm vé xe rẻ</span>
        </h1>
        <div class="pa3 bt br1 br--bottom b--black-10 bg-near-white">
            <form class="">
                <fieldset class="cf bn ma0 pa0">
                    <div class="cf flex flex-column">
                        <input class="f5 f5-l input-reset bn fl black-80 bg-white pa3 lh-solid br2-ns" placeholder="Nhập nơi bạn đi" type="text" name="sb-from" value="" id="sb-from">
                        <input class="f5 f5-l input-reset bn fl black-80 bg-white pa3 lh-solid br2-ns mt2" placeholder="Nhập nơi bạn đến" type="text" name="sb-to" value="" id="sb-to">
                        <input class="f5 f5-l input-reset bn fl black-80 bg-white pa3 lh-solid br2-ns mt2 date-picker" placeholder="Chọn ngày đi" type="text" name="sb-date" value="" id="sb-date">
                        <input class="f4 f3-l button-reset fl pv3 tc bn bg-animate bg-black-70 hover-bg-black white pointer br2-ns mt2" type="submit" value="Tìm Vé Xe Rẻ">
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

</section>