<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

   <body style="background: #fff;">
        <div class="br-modal">
            <div id="sb-site">
                <div class="br-header">
                    {{ partial "top.html" . }}

                    {{ partial "nav.html" . }}
                </div>
                <section id="body-main">
                    <div class="container">
                        <div class="col-lg-9 col-md-9 col-sm-7 col-xs-12 col-ms-12">
                            <div class="news_column">
                                <div class="">
                                    <h1 class="title margin-bottom-lg">{{ .Title }}</h1>
                                    <div class="row margin-bottom-lg">
                                    </div>
                                    <div id="news-bodyhtml" class="bodytext margin-bottom-lg">
                                        {{ .Description }}
                                    </div>
                                            <div id="commentsbox">
                                        <div class="col-xs-12"><h3 class="leave_comment">Đặt xe</h3></div>
                                        <div id="comment-form">
                                            <div id="respond" class="rounded">
                                                <div id="commentform">  
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-ms-12">
                                                        <div class="form-group">     
                                                            <input class="form-control" type="text" name="hoten" id="hoten" tabindex="2" value="" placeholder="Họ và tên" required="">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-ms-12">
                                                        <div class="form-group">
                                                            <input class="form-control" type="text" name="dienthoai" id="dienthoai" tabindex="3" value="" placeholder="Số điện thoại" required="">
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12">
                                                        <div class="form-group">
                                                            <input class="form-control" type="text" name="diachi" id="diachi" tabindex="4" value="" placeholder="Địa chỉ" required="">
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12">
                                                        <div class="form-group">
                                                            <textarea class="form-control" name="ghichu" id="comment" cols="50" tabindex="5" rows="7" placeholder="Thông tin ghi chú"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="clear"></div>
                                                    <div class="submit col-xs-12">
                                                        <input class="btn btn-primary btn-block btn-flat btn-booking" name="submit" type="submit" onclick="submitdatxe()" id="submit" tabindex="6" value="Gửi thông tin">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="clearfix"></div>
                            <div class="clearfix"></div>
                        </div>
                        {{ partial "search_ticket" . }}
                    </div>                
                </section>
                {{ partial "section_branch_offices" . }}
                {{ partial "footer" . }}
            </div>
        </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>

